body,html{
    height: 100%;
}


body {
    font-size: 16px;
    line-height: 25px;
    color: $deafualt-color;
    @extend %quicksand-500;
    display: flex;
    flex-direction:column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

.main{
    flex-grow:1;
}

a{
    font-size: 16px;
    line-height: 25px;
    color: $deafualt-color;
    @extend %quicksand-500;
}