.video-fashion {
    background-color: $bg-color;
    background-image: url('../images/decor/pattern.svg');
    background-position: cover;
    background-repeat: no-repeat;
    padding: 125px 0 125px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__popup {
        max-width: 530px;
        height: 480px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__content {
        max-width: 570px;
    }

    &__subtitle {
        font-size: 22px;
        padding-top: 75px;
        color: $accent-color;
        margin-bottom: 5px;
    }

    &__title {
        text-align-last: left;
        margin-bottom: 55px;
    }

    &__text {
        margin-bottom: 55px;
    }

    &__link {
        @extend %btn;
    }
}